<a href="https://colab.research.google.com/github/lokeshwarinayak/intenship/blob/master/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

** Series** :A Pandas Series is a one-dimensional array of indexed data.

In [4]:
import numpy as np
import pandas as pd

data=pd.Series([0.25,1])
data

0    0.25
1    1.00
dtype: float64

In [5]:
data=pd.Series([1,7,9])
data

0    1
1    7
2    9
dtype: int64

**values**:-
The values are simply a familiar NumPy array

In [6]:
data.values

array([1, 7, 9])

In [7]:
data.index

RangeIndex(start=0, stop=3, step=1)

In [8]:
data[2]

9

In [9]:
data[1:3]

1    7
2    9
dtype: int64

Series as generalized NumPy array

In [11]:
data = pd.Series([0.25, 0.5, 0.75, 1.0, 0.83, 1.1],
                 index=['n', 'i', 't', 'h' ,'y' ,'a'])
data

n    0.25
i    0.50
t    0.75
h    1.00
y    0.83
a    1.10
dtype: float64

In [12]:
data['t']

0.75

In [13]:
data = pd.Series([0.25, 0.5, 0.75, 1.0],
                 index=[2, 5, 3, 7])
data

2    0.25
5    0.50
3    0.75
7    1.00
dtype: float64

Series as specialized dictionary

In [14]:
priends_dict = {'nithya': 38332521,
                   'mrudu': 26448193,
                   'chaithra': 19651127,
                   'pavi': 19552860,
                   'divya': 12882135}
priends = pd.Series(priends_dict)
priends

nithya      38332521
mrudu       26448193
chaithra    19651127
pavi        19552860
divya       12882135
dtype: int64

In [16]:
priends['nithya']

38332521

In [17]:
priends['nithya':'pavi']

nithya      38332521
mrudu       26448193
chaithra    19651127
pavi        19552860
dtype: int64

Constructing Series objects

scalar data repeatedly filling in specified index

In [19]:
data=pd.Series(5,index=[1,3,5])
data

1    5
3    5
5    5
dtype: int64

storing data as dictionary
data can be a dictionary, in which index defaults to the sorted dictionary keys

In [23]:
data=pd.Series({2:'4',1:'3',3:'1'})
data

2    4
1    3
3    1
dtype: object

In [26]:
pd.Series({2:'a', 1:'b', 3:'c'}, index=[3])

3    c
dtype: object

DataFrame as a generalized NumPy arrayÂ¶

In [27]:
area_dict = {'California': 423967, 'Texas': 695662, 'New York': 141297,
             'Florida': 170312, 'Illinois': 149995}
area = pd.Series(area_dict)
area

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
dtype: int64

In [29]:
population_dict = {'California': 38332521,
                   'Texas': 26448193,
                   'New York': 19651127,
                   'Florida': 19552860,
                   'Illinois': 12882135}
population = pd.Series(population_dict)
population

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [30]:
states = pd.DataFrame({'population': population,
                       'area': area})
states

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

In [31]:
states.index

Index(['California', 'Texas', 'New York', 'Florida', 'Illinois'], dtype='object')

In [32]:
states.columns

Index(['population', 'area'], dtype='object')

DataFrame as specialized dictionary

In [33]:
states['area']

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

**Constructing DataFrame objects**

In [34]:
pd.DataFrame(population, columns=['population'])

            population
California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135

From a list of dicts

In [36]:
data = [{'a': i, 'b': 2 * i}
        for i in range(9)]
pd.DataFrame(data)

   a   b
0  0   0
1  1   2
2  2   4
3  3   6
4  4   8
5  5  10
6  6  12
7  7  14
8  8  16

In [39]:
pd.DataFrame([{'a': 1, 'b': 2}, {'b': 3, 'c': 4},{}])

     a    b    c
0  1.0  2.0  NaN
1  NaN  3.0  4.0
2  NaN  NaN  NaN

From a dictionary of Series objects

In [40]:
pd.DataFrame({'population': population,
              'area': area})

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

From a two-dimensional NumPy array

In [45]:
pd.DataFrame(np.random.rand(4, 2),
             columns=['foo', 'bar'],
             index=['a', 'b', 'c','d'])

        foo       bar
a  0.030614  0.572074
b  0.490234  0.049725
c  0.892548  0.843765
d  0.836429  0.468752

From a NumPy structured array

In [46]:
A = np.zeros(3, dtype=[('A', 'i8'), ('B', 'f8')])
A

array([(0, 0.), (0, 0.), (0, 0.)], dtype=[('A', '<i8'), ('B', '<f8')])

In [47]:
pd.DataFrame(A)

   A    B
0  0  0.0
1  0  0.0
2  0  0.0

The Pandas Index Object

In [48]:
ind = pd.Index([2, 3, 5, 7, 11])
ind

Int64Index([2, 3, 5, 7, 11], dtype='int64')

Index as immutable array

In [52]:
ind[1]

3

In [53]:
ind[::2]

Int64Index([2, 5, 11], dtype='int64')

Index objects also have many of the attributes familiar from NumPy arrays:

In [54]:
print(ind.size, ind.shape, ind.ndim, ind.dtype)

5 (5,) 1 int64

Index as ordered set

In [56]:
indA = pd.Index([1, 3, 5, 7, 9])
indB = pd.Index([2, 3, 5, 7, 11])

indA & indB

Int64Index([3, 5, 7], dtype='int64')

In [57]:
indA | indB

Int64Index([1, 2, 3, 5, 7, 9, 11], dtype='int64')

In [58]:
indA ^ indB

Int64Index([1, 2, 9, 11], dtype='int64')

Data Selection in Series